.home, .contact {
    position: relative;
    height: 100vh;
}

.home-wrapper, .contact-wrapper {
    position: absolute;
    top: 35%;
    left: 30%;
}

img {
    max-width: 100%;
    width: 150px;
}

body {
    font-family: 'Hind Madurai', sans-serif;}


.navbar-brand {
    font-family: 'Rampart One', cursive;
}

.pastEmployers img {
    max-width: 100%;
    width: 20px;
}

@media(max-width: 765px) {
.home-wrapper, .contact-wrapper {
    left: 0%;
}
}
